<footer class="footer-container">

    <div class="footer-content">
        <div class="footer-content-item">
            <h3>Ajuda</h3>
            <p>fale Conosco</p>
            <p>Como comprar</p>
            <p>Formas de pagamento</p>
            <p>Política de troca</p>
        </div>
        <div class="footer-content-item">
            <h3>Informações</h3>
            <p>Política e Provacidade</p>
            <p>Termos e Condições</p>

        </div>
        <div class="footer-content-item">
            <h3>Contatos</h3>
            <p>Telefone: (11) 9999-9999</p>
            <p>Email: jineiajineiastore.com.br</p>

        </div>
        <div class="footer-content-item">

            <h3>Redes Sociais</h3>
            <div id="redes">
                <p>Telefone: (11) 9999-9999</p>
                <p>Email </p>
            </div>

        </div>
    </div>


</footer>