.app-header {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  background-color:#00695E;
    height: 60px;
    padding: 0 20px;
    
}
.header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


