.header-container{
    background-color:#00695E;
    margin: 0px 0px 5px 0px;
    color: rgb(244, 244, 244);
}
.app-header {
  display:  flex;
  justify-content: space-between;
  align-items: center;
 
    height: 60px;
    padding: 0 20px;
    
}
.header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    background-color:#025e55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Search-input{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-left: 10px;
}

input{
    width: 500px;
    height: 100%;
background-color: #4b7771;
    border: none;
    padding: 5px;
    margin-left: 10px;
}


