<header class="header-container">

    <div class="app-header"> <img ngSrc="./assets/logo_1.png" width="150" height="30" />

        <div class="search-input">
            <input type="text">
            
        </div>

        <div class="header-icons" width="30" height="25">
            <img class="" ngSrc="./assets/bag.png" width="23" height="30" />
            <img ngSrc="./assets/profile.png" width="25" height="30" />
            <img ngSrc="./assets/menu.png" width="38" height="30" />

        </div>
    </div>

    <div>
        <nav>
            <ul>
                <li> <a href="">HOME</a></li>
                <li> <a href="">SHOP</a></li>
                <li> <a href="">COLLECTION</a></li>
                <li> <a href="">LOOKBOOK</a></li>
                <li> <a href="">CONTACT</a></li>
            </ul>
        </nav>
    </div>


</header>