´
#section-1{
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#section-3{
    display: grid;
    justify-content: center;
    height: 450px;
    width: 97,5%;
    gap: 10px;
    display: flex;
   grid-row: 2;
   grid-column: 2;
    padding: 15px;

}

#section-3 img{
    height: 100%;
    width: 100%;
}



#section-3 #grid-left-side{
    
    height: 100%;
    width: 70%;
}

#section-3 #grid-right-side{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 30%;
}

*{
   background-color: rgb(244, 244, 244);
}

#section-3 .side-btn{
   
    height: 15%;
    width: 100%;
     
}

#section-5{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 450px;
    width: 97,5%;
    display: flex;
   padding: 75px;
}

#section-5 .mid-card img:hover{
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}