<app-header></app-header>

<section id="section-1">
    <banner [banners]="banners"></banner>
</section>

<section id="section-2">
    <app-carousel [sapatos]="sapatos"></app-carousel>
</section>

<section id="section-3">
   <div id ="grid-left-side">
    <img  src="./assets/banner_3.png" width="100%" height="100%"/></div>
   <div>
    <div id="grid-right-side">
        <img  src="./assets/sapato_2.jpg" width="100%" height="100%"/></div>
   <btn-type-1></btn-type-1>
   </div>
   
</section>

<section id="section-4">
    <app-carousel></app-carousel>
</section>

<section id="section-3">
    <div id ="grid-left-side">
     <img  src="./assets/sapato_1.jpg" width="100%" height="100%"/></div>
    <div>
     <div id="grid-right-side">
         <img  src="./assets/sapato_2.jpg" width="100%" height="100%"/></div>
         <btn-type-1></btn-type-1>
    </div>
    
 </section>

 <app-footer></app-footer>