<app-header></app-header>

<section id="section-1">
    <banner [banners]="banners"></banner>
</section>

<section id="section-2">
    <app-carousel [items]="sapatos" [initialIndex]="circularCarouselInitialIndex" [numberOfItens]="circularCarouselNumberOfItens" (newInitialIndex)="CircularIndexChange($event)">
    <app-circular-carousel-card *ngFor="let sapato of sapatos| slice:circularCarouselInitialIndex:circularCarouselInitialIndex + circularCarouselNumberOfItens"
    [imageSrc]="sapato.imageSrc">

    </app-circular-carousel-card>
    </app-carousel>
   
</section>

<section id="section-3">
    <div id="grid-left-side">
        <banner [banners]="banners"></banner>
    </div>
    <div id="grid-right-side" >
        <div>
            <img src="./assets/sapato_2.jpg" width="100%" height="100%" />
        </div>
        <div class="side-btn"> 
            <btn-type-1>EXPLORE THE COLECTION</btn-type-1>
        </div>
    </div>

</section>

<section id="section-4">
    <app-carousel [items]="sapatos" [initialIndex]="CardCarouselInitialIndex" [numberOfItens]="CardCarouselNumberOfItens" (newInitialIndex)="CardIndexChange($event)">
        <carousel-card *ngFor="let sapato of sapatos| slice:CardCarouselInitialIndex:CardCarouselInitialIndex + CardCarouselNumberOfItens"
            [imageSrc]="sapato.imageSrc" [name]="sapato.name" [price]="sapato.price" [description]="sapato.description">
        </carousel-card>
    </app-carousel>
</section>

<section id="section-5">

    <div class="mid-card">

        <img src="./assets/banner_sapatilhas.jpg" width="100%" height="100%" />
        <div> <btn-type-1>CONFIRA</btn-type-1></div>
           
    </div>
    <div class="mid-card">
        <img src="./assets/banner_bag.png" width="100%" height="100%" />
        <div> <btn-type-1>CONFIRA</btn-type-1></div>
           
    </div>
    <div class="mid-card">
        <img src="./assets/banner_sandalias.jpg" width="100%" height="100%" />
        <div> <btn-type-1>CONFIRA</btn-type-1></div>
           
    </div>
</section>

<app-footer></app-footer>