.carousel-card{
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    
}
.carousel-card:hover{
    width: 255px;
    height: 405px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    cursor: pointer;
    
}

.carousel-card img{
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.carousel-card img:hover{
    width: 100%;
    height: 65%;
    object-fit: cover;
    opacity: 0.8;

}

.carousel-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

.carousel-card-content {
    position: center;
    font-family: "Nunito", sans-serif;
    margin: 5%;
  }

#price{
    font-size: 1.25em;
    color: #00695E;
    font-weight: bold;
}