.btn_1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005950;
    color: white;
    opacity: 1;
    transition: 0.3s;
    
 
}

.btn_1:hover{
    cursor: pointer;
    scale: 0.95;
    opacity: 0.9;
    transition: 0.3s;
   
 
}